<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> <html lang="en">

<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Lokaverkefni VEF2VF</title> 
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>

<body> 
    <div class="header">
        <a href="/lokaverkefni"><ul>Heimasíða</ul></a>
        <a href="/lokaverkefni/create-article"><ul>Ný Færsla</ul></a>
        <a href="/lokaverkefni/logout"><ul>Útskrá</ul></a>
        <a href="/mid/stations"><ul>Miðannarverkefni</ul></a>
        <a href="/"><ul>Verkefni 7</ul></a>
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

</body> 

</html> 