<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> <html lang="en">

<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Lokaverkefni VEF2VF</title> 
    <link rel="stylesheet" type="text/css" href="view-source:http://tsuts.tskoli.is/2t/0506992429/vsh2b3u/verkefni_3/stylesheets/css/sass.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
</head>

<body> 
    <div class="header">
        <a href="lokaverkefni"><ul>Lorem</ul></a>
        <a href="lokaverkefni"><ul>Ipsum</ul></a>
        <a href="lokaverkefni"><ul>Dolor</ul></a>
        <a href="lokaverkefni"><ul>Opset</ul></a>
    </div>
    <h1>WARNING: Do not use the development server in a production environment.</h1>

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body> 

</html> 